PORT=4111
API_SECRET=CLAVE_SEGURA_WE_2026

SENDER_GENERAL=alumno.we@we-educacion.com
SENDER_PAGOS=pagos@we-educacion.com

SMTP_HOST=smtp.zeptomail.com
SMTP_PORT=587
SMTP_USER=emailapikey

SMTP_KEY_48H=your_key_here
SMTP_KEY_24H=your_key_here
SMTP_KEY_PAGOS=your_key_here
SMTP_KEY_SAP=your_key_here
SMTP_KEY_FICO_PROXIMA=your_key_here
